/* Header */

.section#header {
  padding-top: 0px;
  padding-bottom: 8px;

  box-shadow: 0 0px 5px 2px rgba(50, 50, 50, 0.5);
}

.section#header > .container {
  padding-top: 8px;
}

form#login .checkbox {
  padding-top: 0;
}

/* Home */

.section#filter {
  padding-bottom: 0;
  border-bottom: 1px solid rgba(50, 50, 50, 0.5);
}

.section#order {
  padding-top: 0;
  padding-bottom: 0;
}

ul#order {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

ul#order li {
  display: inline-block;
  float: none;
}

ul#order li > a {
  color: grey !important;
  padding-top: 0;
  padding-bottom: 0;
}

ul#order li.active > a {
  background-color: grey !important;
  color: white !important;
}

.section#list {
  padding-top: 8px;
  padding-bottom: 0;
}

.section#list > .container {
  border-bottom: 0;  
}

.section#list .list-group-item {
  border: 0;
}

.form-horizontal .units {
  padding-top: 7px;
}

.section#list .list-group-item .house-title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  
  padding: 8px;
  margin-left: 15px;
  margin-right: 15px;
  
  background: rgba(0,0,0,0.7); 
}

.house-title h3 {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.house-title * {
  margin-top: 0;
  margin-bottom: 0;
  color: white;
}

.vertical-center {
  display: flex;
  align-items: center;
}

ul#houses {
  margin-bottom: 0;
}


@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#loading-next {
  font-size: 24px;
}

#loading-next span.glyphicon {
  animation:spin 1s ease infinite;
}

/* Contact */

.section#contact {
  border-bottom: 1px solid rgba(50, 50, 50, 0.5);
}

.section#office {
  border-bottom: 1px solid rgba(50, 50, 50, 0.5);
}