.ponuka-info {
  box-shadow: 0 0 5px 1px rgba(50, 50, 50, 0.5);
  float: left;
  font-size: 0.9em;
  padding: 20px 10px 30px 10px;
  position: relative;
}
.ponuka-info p {
  box-shadow: 0 4px 2px -2px rgba(50, 50, 50, 0.1);
  height: 20px;
  line-height: 26px;
  color: #504c4d;
}
.ponuka-info p label {
  display: inline-block;
  font-weight: bold;
  position: relative;
  width: 50%;
}
.ponuka-img {
  background: #A4A4A4 none repeat scroll 0 0;
  clear: both;
  float: left;
  overflow: hidden;
  padding: 10px;
  width: 100%;
}
.ponuka-img h4 {
  background: #A4A4A4 none repeat scroll 0 0;
  color: #fff;
  display: block;
  font-weight: normal;
  height: 35px;
  line-height: 35px;
  margin: -5px -10px 10px;
  padding: 0 20px;
}
.ponuka-img .img-wrapper img {
  margin-bottom: 15px;
}
.ponuka-img-thumb img {
  width: 100%;
  height: 60px;
  vertical-align: baseline;
}
.makler {
  box-shadow: 0 0 5px 1px rgba(50, 50, 50, 0.3);
  clear: both;
  float: left;
  height: 540px;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
}
.makler img {
  background: #fff none repeat scroll 0 0;
  float: left;
  width: 90px;
}
.makler h5,
.makler a,
.makler p {
  color: #504c4d;
  left: 15px;
  position: relative;
}
.makler a {
  display: inline-block;
  text-decoration: underline;
  margin-top: 30;
}
.makler h4 {
  background: #A4A4A4 none repeat scroll 0 0;
  color: #fff;
  display: block;
  font-weight: normal;
  height: 35px;
  line-height: 35px;
  margin: -10px -10px 20px;
  padding: 0 20px;
}
.makler div {
  clear: both;
}
.formular {
  padding-top: 20px;
}
.form p label {
  height: 20px;
  line-height: 26px;
  color: #A4A4A4;
  display: inline-block;
  font-weight: bold;
  position: relative;
  width: 50%;
}
.popis-nehnutelnosti {
  box-shadow: 0 0 5px 1px rgba(50, 50, 50, 0.3);
  float: right;
  height: 460px;
  margin-top: 20px;
  width: 100%;
}
.popis-nehnutelnosti h4 {
  background: #A4A4A4 none repeat scroll 0 0;
  color: #fff;
  display: block;
  font-weight: normal;
  height: 35px;
  line-height: 35px;
  padding: 0 20px;
  margin-top: 0px;
}
.popis-nehnutelnosti p {
  display: block;
  font-size: 0.9em;
  height: 200px;
  line-height: 24px;
  padding: 10px 20px;
  text-align: justify;
}
.scroll {
  height: 410;
  overflow-y: scroll;
}
iframe {
  display: block;
  width: 100%;
  height: 330px;
}